@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
    _font-vazir: "Vazirmatn", sans-serif;
}

* {
    transition: all 0.4s;
    font-family: _font-vazir;
}

.rightCol {
    background-image: url("../img/pexels-lisa-fotios-2106037.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    border-radius: 120px 0 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.65);
}

@media screen and (max-width: 1200px) {
    .rightCol {
        border-radius: 0;
        order: 1;
        height: 50vh;
    }
    .leftCol {
        order: 2;
    }
}
