@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
    font-family: "Digi Almas Bold";
    src: url("../fonts/almas.ttf");
}
:root {
    --font-vazir: "Vazirmatn", sans-serif;
    --font-almas: "Digi Almas Bold";
    --primary-green-ocean: #1abc9c;
    --primary-green-bold-ocean: #16a085;
}

* {
    font-family: var(--font-vazir);
}

body {
    overflow-x: hidden;
    background-color: #f5f6fa;
    transition: all 0.4s linear;
    position: relative;
}

.pre-loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f5f6fa;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whitetexts {
    color: white;
    background-color: rgb(43, 43, 43);
}

.rightCol {
    background-image: url("../img/pexels-lisa-fotios-2106037.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    border-radius: 120px 0 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftCol {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}
.mode-area {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
}

.wrapper {
    width: 50%;
    padding: 2.5rem;
    height: auto;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-family: var(--font-almas);
}

.regLink,
.forgot-link {
    color: var(--primary-green-ocean);
    transition: all 0.2s linear;
}
.regLink:hover,
.forgot-link:hover {
    color: var(--primary-green-bold-ocean);
}

.btnSendForm {
    width: 100%;
    background-color: var(--primary-green-ocean);
    color: #fff;
    transition: all 0.2s linear;
}
.btnSendForm:hover {
    background-color: var(--primary-green-bold-ocean);
    color: #fff;
}

.inputs {
    height: 3rem;
    transition: all 0.2s linear;
    opacity: 0.5;
}

@media screen and (max-width: 1200px) {
    .rightCol {
        border-radius: 0;
        height: 50vh;
    }
    .wrapper {
        width: 85%;
        height: auto;
        padding: 1rem;
    }
}

.fccolor {
    background-color: #4267b2;
}
.fccolor:hover {
    background-color: #395b9e;
}

.social-btn {
    transition: all 0.3s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
}
